{% extends 'base.html.twig' %}

{% block title %}Liste des Projets{% endblock %}

{% block body %}
    <h1>Liste des Projets</h1>
<div class="card">
    <div class="card-body">
    <ul>
        {% for projet in projets %}
            <li>
                <h2>
                    <a href="{{ path('projet_details', {'id': projet.id}) }}">{{ projet.name }}</a>
                </h2>
                <p>{{ projet.description }}</p>
                <p>{{ projet.startDate|date('Y-m-d') }}</p>
                <p>{{ projet.endTime|date('Y-m-d') }}</p>
                <p>
                    {% for user in projet.users %}
                        {{ user.username }}
                        {% if not loop.last %}, {% endif %}
                    {% else %}
                        Pas d'utilisateurs assignés.
                    {% endfor %}
                </p>

                <a href="{{ path('projet_edit', {'id': projet.id}) }}" class="btn btn-primary">Modifier</a>

                <form method="post" action="{{ path('projet_suppression', {id: projet.id}) }}"
                      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce projet?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </li>
        {% else %}
            <li>Aucun projet trouvé.</li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}
